/* Estilos para a Tela Inicial */
body {
    font-family: Arial, sans-serif; /* Define Arial como a fonte principal e sans-serif como fallback */
    padding: 0;
    margin: 0;
    background-color: #e8f5e9; /* Fundo opcional */
}

header.header-initial {
    background: linear-gradient(to right, #4caf50, #87e6a9);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
    flex-grow: 1;
}

button.back-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

main.main-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.certification-card {
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #f8f8f8;
    border: 2px solid #4caf50;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.certification-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.certification-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.certification-card p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

.certification-card button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.certification-card button:hover {
    background-color: #45a049;
}

footer.footer {
    position: fixed; /* Fixa o footer na tela */
    bottom: 0; /* Cola o footer na parte inferior */
    left: 0;
    width: 100%; /* Faz o footer ocupar toda a largura */
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #4caf50, #87e6a9);
    font-size: 12px;
    color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para separação */
    z-index: 10; /* Garante que fique acima de outros elementos */
}
