/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #e8f5e9;
    overflow-x: hidden; /* Evita barra de rolagem horizontal */
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a button {
    width: 100%;
}
header.header {
    position: relative;
    background: linear-gradient(to right, #4caf50, #87e6a9);
    padding: 15.5px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

button.back-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

main.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px); /* Ajusta a altura para caber sem o footer */
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

main h5 {
    font-weight: 50;
    font-style: italic;
    margin: 0 0;
}

.methods {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin: 10px;
    background-color: #f8f8f8;
    border: 2px solid #4caf50;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.methods-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite quebra de linha nos botões */
    padding: 20px;
    margin: 10px;
}

.method-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.method-button:hover {
    background-color: #45a049;
}

/* Modal */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto; /* Ajusta a altura dinamicamente */
    max-height: calc(100vh - 40px); /* Limita a altura total para caber na tela com margens */
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px 30px; /* Espaçamento interno */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Ativa rolagem vertical apenas se necessário */
    overflow-x: hidden; /* Evita rolagem horizontal */
}


.modal-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    border: 2px solid #4caf50;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#modal-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

#modal-details p {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.modal-frame button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.modal-frame button:hover {
    background-color: #45a049;
}

#close {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
#close:hover {
    background-color: #d32f2f;
}
#exame {
    padding: 10px 20px;
    background-color: #368ff4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
#exame:hover {
    background-color: #307ed8;
}
#exam-date {
    color: #45a049;
    font-weight: 700;
    margin-top: 0;
}

/* Estilizando o container */
#start-options {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    flex-wrap: wrap; /* Ajusta para telas menores */
}

/* Estilizar os inputs escondendo-os */
#start-options input[type="radio"] {
    display: none;
}

#start-options label {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    transition: all 0.3s ease;
    text-align: center;
    display: inline-block;
}

/* Quando o botão está selecionado */
#start-options input[type="radio"]:checked + label {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #69f16d;
}

.custom-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    gap: 10px;
}

.custom-input {
    padding: 10px;
    border: 2px solid #4caf50;
    border-radius: 8px;
    font-size: 16px;
    width: 180px;
    text-align: center;
}

.custom-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #45a049;
}

footer.footer {
    position: relative; /* Altera para não fixar o footer */
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #4caf50, #87e6a9);
    font-size: 12px;
    color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .methods {
        max-width: 90%;
        padding: 15px;
    }

    .methods-container {
        flex-direction: column;
        gap: 15px; /* Aumenta o espaçamento entre os itens para melhorar o layout */
        padding: 15px;
    }

    .method-button {
        font-size: 14px;
        padding: 12px 18px;
    }

    main.main-container {
        max-width: 95%;
        padding: 15px;
    }

    .modal-content {
        max-width: 95%; /* Ajusta a largura máxima para telas menores */
        padding: 20px 50px;
    }

    .modal-buttons button {
        font-size: 14px;
        padding: 10px 15px; /* Redimensiona os botões */
    }
}

@media (max-width: 480px) {
    .methods {
        max-width: 95%;
        padding: 10px;
    }

    .methods-container {
        flex-direction: column;
        gap: 10px; /* Reduz o espaçamento para telas menores */
        padding: 10px;
    }

    .method-button {
        font-size: 12px;
        padding: 10px 14px;
    }

    .modal-content {
        max-width: 100%; /* Ocupa toda a largura da tela */
        padding: 20px 50px;
    }

    .modal-buttons button {
        font-size: 12px;
        padding: 8px 12px; /* Ajusta os botões para serem proporcionais */
    }

    main.main-container {
        max-width: 100%;
        padding: 10px;
    }
}
