html {
    overflow-y: scroll;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8f5e9; /* Fundo opcional */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.header button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease;
}

.header button:hover {
    background-color: #45a049;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.question {
    margin: 20px 0;
}
.question img {
    max-width: 100%;
    border-radius: 8px;
}
.answers {
    margin-top: 10px;
    display: none;
    background: #e8f5e9;
    padding: 10px;
    border-radius: 8px;
}
.answers img {
    max-width: 100%;
    border-radius: 8px;
}
.navigation-container {
    position: fixed;
    bottom: 45vh; /* Posicionado na parte inferior da tela */
    left: 50%; /* Posiciona o contêiner no centro da tela */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 800px; /* Alinha com a largura do .container */
    max-width: calc(100% - 40px); /* Garante responsividade para telas menores */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    display: flex;
    justify-content: center; /* Centraliza os botões dentro do contêiner */
    z-index: 10; /* Garante que o contêiner fique acima de outros elementos */
    pointer-events: none; /* Interação somente nos botões filhos */
    box-sizing: border-box; /* Inclui o padding no cálculo do tamanho */
}

.navigation {
    display: flex;
    gap: 850px; /* Espaçamento horizontal entre os botões */
    pointer-events: auto; /* Permite interação com os botões */
}

.navigation button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: darkgreen;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navigation button:hover {
    background-color: rgb(0, 45, 0);
    transform: scale(1.1);
}

.navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}


